<a href="https://colab.research.google.com/github/Chethan2627/Chethan2627/blob/main/Python_Program01Name_%3D_input('Enter_the_name_of_the_student_').ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
Name = input("Enter the name of the student:")
USN = input("Enter the USN of the student:")
Marks1 = int(input("Enter the marks in the subject1 :"))
Marks2 = int(input("Enter the marks in the subject2 :"))
Marks3 = int(input("Enter the marks in the subject3 :"))
print(" Students details :==========")
print("Name :" ,Name )
print("USN : ",USN)
print("Marks1 :" ,Marks1)
print("Marks2 :" ,Marks2)
print("Marks3 : ",Marks3)
print("Total : ",Marks1+Marks2+Marks3)
print("percent" ,((Marks1+Marks2+Marks3)/3))

Enter the name of the student:Chethan.M.S
Enter the USN of the student:24
Enter the marks in the subject1 :93
Enter the marks in the subject2 :93
Enter the marks in the subject3 :95
 Students details :==========
Name : Chethan.M.S
USN :  24
Marks1 : 93
Marks2 : 93
Marks3 :  95
Total :  281
percent 93.66666666666667